/* BASE STYLES */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #9c9a9a;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #01011f;
  background-image: url('https://i.postimg.cc/zBSdmFRS/stars.jpg');
  /* background photo by francesco ungaro from pexels */
}

.page{
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

/* HEADER */
header {
  padding-top: 1.5em;
}

header span {
  font-size: 60px;
  color: #d13b33;
}

/* FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/* IMG */
.ball {
/* margin: 0 auto; */ 
  position:relative;   
}

.ball img{
  width: 100%;
}

/* JS RESULTS */
.answer {
  position: absolute;
  width: 15%;
  top: 38%;
  left: 43%;
  bottom: 50%;
  margin: 0;
  font: 1em 'Open Sans', sans-serif;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
}

#questionButton {
  font: 1.62em 'Montserrat', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: none;
  color: #f8f8f8;
  background-color: #d13b33;
  padding: 10px 75px;
  display: block;
  margin: 0 auto;
}

/* FOOTER */
footer h5 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 5%;
  font-size: 12px;
  text-decoration: none;
}

footer h5 a{
  text-decoration: none;
  color: #9c9a9a;

}
